@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=VT323&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, h1, h2, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "VT323", monospace;
  font-size: 28px;
  color: #24371B;
  background-color: #262626;
  overflow: hidden;
}

/* page highlight style */
::selection {
  background: gray;
  color: darkgray;
}