@font-face {
    font-family: "Pixelout";
    src: url("../css/fonts/Pixelout Personal Use Only.ttf");
}
@font-face {
    font-family: "Daydream";
    src: url("../css/fonts/Daydream-DEMO.otf");
}

.TitleScreen {
    border: 1px dashed transparent;
    position: absolute;
    width: 404px;
    height: 360px;

    font-family: 'Pixelout';
    text-align: center;
}

.TitleScreen img {
    mix-blend-mode: overlay;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
}

.TitleScreen h1 {
    font-size: 80px;
    margin-top: 100px;
}

.TitleScreen.user h1 {
    margin: 60px 0 25px;
}
.TitleScreen.user h2 {
    font-family: 'Daydream';
    font-size: 45px;
    margin-top: -30px;
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #24371B;
}